@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background: #17252A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    background: #fff;
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

/* Form Header */
.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header h1 {
    font-size: 34px;
    color: #000000;
}

.form-header p {
    color: #000000;
}

/* Flexbox for rows with two fields */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row .form-group {
    width: 48%;
}

/* Form Group */
.form-group {
    margin-bottom: 0px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    font-weight: 600;

}

/* Inputs */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

/* Smaller placeholder text */
.form-group input::placeholder {
    font-size: 15px;
    color: #757474;
}

/* Focus State */
.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}



/* Submit Button */
.btn-submit {
    width: 20%;
    padding: 10px 15px;
    background-color: rgb(37, 134, 214);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 40%;
}

.btn-submit:hover {
    background-color: #fd6500;
}
/* Small Screens - Up to 370px */
@media (max-width: 400px) {
    .form-row .form-group {
            width: 100%;
            
        }
    .container {
        padding: 15px;
        width: 100%;
    }

    .form-header h1 {
        font-size: 24px;
    }

    .form-header p {
        font-size: 14px;
    }

    .form-row {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .form-group {
        margin-bottom: 10px;
        width: 100%;

    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input {
        padding: 10px;
        font-size: 14px;
    }

    .btn-submit {
        width: 100%;
        font-size: 15px;
        padding: 10px;
        margin: 15px 0 0;
    }
}